<!doctype html>

<html>
    
    <head>
        <title>Meadowlark Travel Co.</title>
    </head>
    
    <body>
        <header>
            <img src="/img/tree.png" alt="logo">
        </header>
        {{{body}}}
    </body>
    
</html>